.cards {
	display: grid;
	grid-template-columns:1fr;

}
.card h3 {
	color: white;
}

.card {

	border-radius: 7px;
	padding: 16px;
	text-align: center;
	width: 250px;
	box-shadow: #0000006b 0px 0px 4px 1px;
	border: #3399FF solid 5px;
	justify-self:center;
}

.card img{
	width: 50%;
}
@media (min-width:576px ) {
	.cards{
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width:1200px ) {
	.cards{
		grid-template-columns: 1fr 1fr 1fr;
	}
}